{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

<div class="container">
    <p class="test-primary">Liste des produits:</p>
</div>

{% for product in products %}
 <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if product.image %}
                    <img src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                    <img class="img-fluid rounded-start" src="https://fakeimg.pl/350x200/?text=Produit" alt="coucou" />
                {% endif %}
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="card-body">
                    <h5 class="card-title">{{product.label}}</h5>
                    <h6 class="card-title">{{product.category}}</h6>
                    <p class="card-text">{{product.description}}</p>

                    <a href="?page=showProduct&product={{ product.id }}" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
                <div class="card-body d-flex justify-content-center">
                    <h5 class="text-primary">{{product.price}}</h5>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
{#    <li> <a href="/?page=addproduct" class="btn btn-primary">Ajouter</a> </li>#}
{#    <li> <a href="/"><button class="btn btn-secondary">Retour au menu</button></a> </li>#}
{#    <li> <a href="/?page=deleteproduct"><button class="btn btn-danger">Supprimer</button></a> </li>#}
    
{% endblock %}  

