{% extends "layout.html.twig" %}

{% block content %}
<form action="" method="POST">

    <div class="nb-3">
        <label for="prénom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prénom" name="prénom" value="{{ entity.prénom }}"/>
    </div>

    <div class="nb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" value="{{ entity.nom }}"/>
    </div>

    <div class="nb-3">
        <label for="ancien_mot_passe" class="form-label">Ancien mot de passe</label>
        <input type="password" class="form-control" id="mot_passe" name="mot_passe" value="{{ entity.mot_passe }}"/>
    </div>
    <div class="nb-3">
        <label for="new_mot_passe" class="form-label">Nouveau Mot de passe</label>
        <input type="password" class="form-control" id="mot_passe" name="mot_passe" value="{{ entity.mot_passe }}"/>
    </div>

    <div class="nb-3">
        <label for="new_mot_passe" class="form-label">Nouveau Mot de passe</label>
        <input type="password" class="form-control" id="mot_passe" name="mot_passe" value="{{ entity.mot_passe }}"/>
    </div>


    <div class="nb-3">
        <label for="télephone" class="form-label">Numéro de téléphone</label>
        <input type="number" class="form-control" id="télephone" name="télephone" value="{{ entity.télephone }}"/>
    </div>
    <div class="nb-3">
        <a href="{{ path('delete_item', {'id': item.id}) }}" class="btn btn-danger">Supprimer</a>

    </div>


    <button type="submit" class="btn btn-primary" name="submit">
        {% if entity %}
        Mettre à jour
        {% else %}
        Ajouter
        {% endif %}
    </button>
</form>
{% endblock %}