{% extends "adminLayout.html.twig" %}

{% block title %}
    Administration des utilisateurs
{% endblock %}

{% block content %}

    <div class="container">

        {% if message != null %}
            <div class="alert alert-{{ status|default('info') }} text-center">
                {{ message }}
            </div>
        {% endif %}

        {# #L’attribut «enctype»,indique à PHP que toutes les informations relatives à notre fichier doivent être stockées sous la forme d’un tableau au travers de la variable globale «$_FILES» #}

        <div class="m-3">
            {% if profile %}
                <h4>Gestion du profil</h4>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="m-3">



                    <div class="nb-3">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input
                                type="text"
                                class="form-control"
                                id="firstname"
                                name="firstname"
                                value="{{ form.firstname }}"
                        />
                    </div>

                    <div class="nb-3">
                        <label for="lastname" class="form-label">Nom</label>
                        <input
                                type="text"
                                class="form-control"
                                id="lastname"
                                name="lastname"
                                value="{{ form.lastname }}"
                        />
                    </div>


                    <div class="nb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="active" name="active" value="1" {% if form.active %} checked {% endif %}>
                            <label class="form-check-label" for="active">
                                Compte activé
                            </label>
                        </div>
                    </div>

{#                    retirer le champ role si on est en mode profile#}
                    {% if not profile %}
                        <div class="nb-3">
                            <label for="idRole" class="form-label">Role</label>
                            <select
                                    class="form-select"
                                    name="idRole"
                                    id="idRole"
                            >
                                {% for role in roles %}
                                    <option
                                            value="{{ role.id }}"
                                            {% if role.id == form.idRole %} selected {% endif %}
                                    >
                                        {{ role.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>

                <a
                        href="/?page=adminProductList"
                        class="btn btn-secondary"
                >
                    <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
                     
                    Retourner à la liste
                </a>

                     
                    {# #vérifier la valeur de la variable controller. Selon la valeur de cette variable, une étiquette différente sera insérée dans le bouton. #}
                    {% if controller == 'add' %}
                        Ajouter
                    {% else %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Modifier
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Validation des modifications du profils</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="updatePassword.php" method="post">
                                            <div>
                                                <label for="ancienpassword" class="form-label">Ancien mot de passe</label>
                                                <input
                                                        type="password"
                                                        placeholder="5€CURIZ3D"
                                                        class="form-control"
                                                        id="ancienpassword"
                                                        name="ancienpassword"
                                                        value="{{ form.ancienpassword }}"
                                                />
                                            </div>
                                            <div>
                                                <label for="newpassword" class="form-label">Nouveau mot de passe</label>
                                                <input
                                                        type="password"
                                                        placeholder="5€CURIZ3D"
                                                        class="form-control"
                                                        id="newpassword"
                                                        name="newpassword"
                                                        value="{{ form.newpassword }}"
                                                />
                                            </div>
                                            <div>
                                                <label for="newpassword" class="form-label">Nouveau mot de passe</label>
                                                <input
                                                        type="password2"
                                                        placeholder="5€CURIZ3D"
                                                        class="form-control"
                                                        id="newpassword"
                                                        name="newpassword"
                                                        value="{{ form.newpassword }}"
                                                />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Valider</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </button>


            </form>
        </div>

    </div>


{% endblock %}