{% extends "adminLayout.html.twig" %}

{% block title %}
    Administration des produits
{% endblock %}

{% block content %}

    <div class="container">
{#        #Se charge ici de vérifier que la valeur de la variable passée dans le contrôleur n’est pas «null» ni égale à «false».#}
{#        Dans ce cas les informations du produit peuvent être affichées#}
{#        Dans le cas où la variable «user» est «null» ou égale à «false», un message indique que le produit n’existe pas. #}
        <div class="m-3">
            {% if user %}
                <div class="col-12">
                    <h3 class="mb-5">{{ user.firstname }} {{ user.lastname }}</h3>
                </div>

                <div class="col-12">
                    <p>{{ user.email }}</p>
                </div>

                <div class="col-12">
                    <p>{{ user.role }}</p>
                </div>
            {% else %}
                <p>Aucun utilisateur n'est défini !</p>
            {% endif %}
        </div>
        <a
            href="/?page=adminUserList"
            class="btn btn-secondary"
        >
            <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
             
            Retourner à la liste
        </a>
        <a
                href="/?page=adminUserEdit&user={{ user.id }}"
                class="btn btn-primary"
        >
            <i class="fa-sharp fa-solid fa-pen"></i>
             
            Modifier l'utilisateur
        </a>
    </div>

{% endblock %}